{% extends 'base.html' %}
{% block title %}创建问题{% end %}
{% block body %}
<div class="container">
    <form id="editorForm" style="text-align: left">
        <h3>创建问题</h3>
        <div class="form-group" style="margin-top: 26px">
            <label for="question-abstract">简述</label>
            <input type="text" class="form-control" id="question-abstract" placeholder="请输入7-40个字符的问题简述...">
        </div>
        <div id="textareaForm" class="form-group">
            <label for="question-content">内容</label>
            <textarea id="question-content" class="form-control"></textarea>
        </div>
        <div class="form-group" style="width: 100px">
            <label for="question-tag">标签</label>
            <select id="question-tag" class="form-control">
                {% for tag in tags%}
                <option class="form-control" id="{{ tag['tid'] }}">{{ tag['tag_name'] }}</option>
                {% end %}
            </select>
        </div>
        <div class="form-group">
            <label for="submit-question"></label>
            <input type="submit" class="btn btn-primary" id="submit-question" value="开始提问" />
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ static_url('js/module.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/hotkeys.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/uploader.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/simditor.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/question-create.js') }}"></script>
{% end %}